<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "kongfumaster.com" %></title>
	<meta name="keyword" content="ruby rails cast jquery china tip">
	<meta name="description" content="learn ruby on rails, make demo, study with beginners">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
	 <a href="/">Go Home</a>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
